<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsl.mapper.FriendshipsMapper">

    <resultMap id="BaseResultMap" type="com.lsl.entity.FriendShips">
            <id property="friendshipId" column="friendship_id" jdbcType="BIGINT"/>
            <result property="userAId" column="user_a_id" jdbcType="BIGINT"/>
            <result property="userBId" column="user_b_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        friendship_id,user_a_id,user_b_id,
        status,created_at
    </sql>
</mapper>
