<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsl.mapper.TeammemberMapper">

    <resultMap id="BaseResultMap" type="com.lsl.entity.Teammember">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="teamId" column="team_id" jdbcType="INTEGER"/>
            <result property="permission" column="permission" jdbcType="INTEGER"/>
            <result property="memberState" column="member_state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,team_id,
        permission,member_state
    </sql>
</mapper>
